html{height: 100%;
  max-width:100%}
body{
  height: 100%;
  max-width:100%;
  margin:0;
  background-color: #EEEEEE;
}
div.bigArea{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  max-width: 546px;
  margin-right: auto;
  margin-left: auto;
}
p{
  letter-spacing: 0.1em;
  font-family: sans-serif;
  color: #696969;
  margin-top:20px;
  top: 10%;
  border: 20px;
  width: 90%;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

/* firstscreen */
.firstscreen{
  position: absolute;
  text-align: center;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 4;
}
.firstscreen button{
  position: relative;
  height: 150px;
  width: 150px;
}
.firstscreen button:hover{
  animation: rotate 30s linear infinite;
}
.firstscreen button:hover .btntext{
  animation: rotate-elm 30s linear infinite;
}
@keyframes rotate {
  100% { transform: rotate(360deg); }
}
@keyframes rotate-elm {
  100% { transform: rotate(-360deg); }
}
.titlebtns{
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* gamingscreen */
.main-nav {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    top:40%;
    transform: translate(0%, -50%);
  }

.croissent{
  position:absolute;
  width: 105%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 58%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
}

p.title {
  font-size: 30px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}


div.frameLeft{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
div.frameLeft button{
  margin-top:25px;
  margin-bottom: 25px;
  margin-right: 30px;
}

div.frameCenter{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
div.frameRight{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
div.last-area{
  display: flex;
  justify-content: center;
  align-items: center;
}


button{
  color: #696969;
  font-size: 20px;
  padding: 0;
  border: 0;
  position: relative;
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 50%;
  margin:22px;
  filter: drop-shadow(0px 5px 5px rgb(0, 0, 0, 0.2));
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

button:hover{
  filter: drop-shadow(0px 5px 5px rgb(0, 0, 0, 0.6));
  transition: 0.2s;
  }
button:active{
  filter: drop-shadow(inset 0px 0px 0px rgb(0, 0, 0, 0));
  box-shadow: inset 0px 5px 5px rgb(0, 0, 0, 0.4);
  }
button:disabled {
  background-color: white;
  color: #696969;
  }

button#s{
  height:65px;
  width:65px;
  margin-right: 20px;
  margin-left: 5px;
}
button#v{
  height:130px;
  width:130px;
}
button #gameStart{
  margin: 0;
}

.last-area-lower,.last-area-upper{
  position:relative;
  right:25%;
  margin:-20px;
}

.item{
  position: absolute;
    width: 19px;
    height: 19px;
}
#s .item{
  width:16px;
  height:16px;
}
#v .item{
  width:15px;
  height:15px;
}
#return .item{
  width:13px;
  height:13px;
}


.animeArea{
  position:absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  opacity: 1;
  pointer-events: none;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

#circle{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: block;
  height:150px;
  width:150px;
  border-radius: 50%;
  border: solid 10px #F9344C;
  z-index: 0;
  opacity: 0;
  margin:0 auto;
  pointer-events: none;
  transition: 0.2s;
}


#circle.active{
    top:40%;
  opacity: 1;
  transition: 0.3s;
}

#cross {
  position: absolute;
  top: 47%;
  left:8%;
  display: block;
  color: #386CB0;
  width: 170px;
  height: 10px;
  background: currentColor;
  transform: rotate(45deg) ;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}
#cross::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

#cross.active{
  top: 37%;
  opacity: 1;
  transition: 0.3s;
}

.return button{
  font-size: 12px;
  letter-spacing: 0.1em;
  position:absolute;
  width: 65px;
  height: 65px;
  top: 80%;
  left: 78%;
  transition: 0.2s;
  opacity: 1;
}
.disablableTo{
  display: inline;
}
#return:hover{
  animation: rotate 30s linear infinite;
}
#return:hover .btntext{
  animation: rotate-elm 30s linear infinite;
}

@media (max-width: 619px) {

  .croissent{
    width: 90vw;
}
  div.frameLeft button{
    margin-top: 4.032258vw;
    margin-bottom: 4.032258vw;
    margin-right: 4.83871vw;
  }
  button{
    height: 12.903226vw;
    width: 12.903226vw;
    margin: 3.548387vw;
    filter: drop-shadow(0px 0.806452vw 0.806452vw rgb(0, 0, 0, 0.2));
  }
  .firstscreen button{
    margin: 22px;
  }

  button#s{
    height:10.483871vw;
    width:10.483871vw;
    margin-right: 3.225806vw;
    margin-left: 0.806452vw;
  }
  button#v{
    height:20.967742vw;
    width:20.967742vw;
  }
  button #gameStart{
    margin: 0;
  }
  .last-area-lower,.last-area-upper{
    margin:-3.225806vw;
  }
  .item{
      width: 3.064516vw;
      height: 3.064516vw;
  }
  #s .item{
    width:2.580645vw;
    height:2.580645vw;
  }
  #v .item{
    width:2.419355vw;
    height:2.419355vw;
  }
  #return .item{
    width:2.096774vw;
    height:2.096774vw;
  }
  .titlebtns div.item{
      width: 19px;
      height: 19px;
  }

}
@media screen and (max-width: 499px) {
  .return button{
    width: 13vw;
    height: 13vw;
    font-size: 2.4vw;
}
@media screen and (max-width: 413px) {

  .firstscreen button{
    height: 36.319613vw;
    width: 36.319613vw;
    margin: 5.31401vw;
  }
  .firstscreen.item{
      width: 4.589372vw;
      height: 4.589372vw;
  }
  .titlebtns div.item{
      width: 4.589372vw;
      height: 4.589372vw;
  }
  button #memoryMode{
    margin: 0.242718vw;
  }
}
@media screen and (max-width: 374px) {
  .disablableTo{
    display: none;
}

}
